<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>{{format_date date_created}}</p>
  <p>

<div class="form-group">
  <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
</div>

  <button class="btn btn-primary comment">Submit Comment</button>

<script src="/js/comment.js"></script>
  </p>
</div>
